// Shared CSS
@use '../../../Shared/Shared.scss';

.notFound {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1,
  p {
    text-align: center;
    // text-transform: uppercase;
    color: Shared.$primary-color;
  }
}

.notFoundImg {
  margin: 0 auto;
  padding-bottom: 20px;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: Shared.$primary-color;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #856d4a;
  outline: 0;
}

.button-56:hover {
  outline: 0;
  color: #fff;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .notFoundImg {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .notFoundImg {
    width: 50%;
  }
}
